%tr.active_tr{:id => item.id}
  %td
  %td.main
    %table.active#active
      %tr
        %td
          .message
            %s
              = raw item.text
  %td.img_right
    = link_to message_path(item), :method => :delete, :remote => true do
      = image_tag('del_button.png')